<ion-view view-title="Countries">
  <ion-content>
      <div class="list">
          <a class="item item-thumbnail-left" href="#/app/countries/in">
            <img src="https://newsapi.org/images/flags/in.svg">
            <h2>India</h2>
            <p>In</p>
          </a>
      </div>
      <div class="list">
          <a class="item item-thumbnail-left" href="#/app/countries/au">
            <img src="https://newsapi.org/images/flags/au.svg">
            <h2>Australia</h2>
            <p>Au</p>
          </a>
      </div>
      <div class="list">
          <a class="item item-thumbnail-left" href="#/app/countries/at">
            <img src="https://newsapi.org/images/flags/at.svg">
            <h2>Austria</h2>
            <p>At</p>
          </a>
      </div>
  </ion-content>
</ion-view>
