<ion-view view-title="Ionic App">
        <ion-content>
           <h2>Welcome</h2>
           <div class="list card">
              <div class="item item-icon-left">
                 <i class="icon ion-home"></i>
                 Home address
              </div>
              <div class="item item-icon-left">
                 <i class="icon ion-ios-telephone"></i>
                 Phone number
              </div>
              <div class="item item-icon-left">
                 <i class="icon ion-wifi"></i>
                 Wireless password
              </div>
              <div class="item item-icon-left">
                 <i class="icon ion-card"></i>
                 Card information
              </div>
           </div>
           <p>Please visit <strong>Countries section</strong> from Menu</p>
        </ion-content>
</ion-view>